.footer {
	border-top: 5px solid $color-blue;
	position: relative; 

	&::before {
		display: block;
		content: '';
		height: 5px;
		width: 25%;
		background-color: $color-red;
		position: absolute;
		right: 0;
		top: -5px;
	}

	.footer-brands {
		padding: 10px 0;
		border-bottom: 1px solid $light-gray;
		text-align: center;
	} 

	.footer-nav	 {
		ul {
			display: inline-block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;
			font-size: 20px;

			li {
				float: left;
				margin-right: 20px;
			}
		}
		
		a {
			color: $dark-gray;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	.footer-info {
		padding: 20px 0;
	}

	.footer-footnote {
		font-size: 14px; 
		color: $dark-gray;
		position: relative;
		line-height: 1.9;

		a { color: $dark-gray; }

		ul {
			display: inline-block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 0;

			li {
				float: left;
				padding: 0 10px;
				border-right: 1px solid $dark-gray;
				line-height: 1;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					border-right: 0;
				}
			}
		}	

		.footnote-logo {
			position: absolute;
			right: 0;
			bottom: 0;

			img {
				margin: 0 10px;
			}
		}
	}
}	