.main-content{
     background:#F2F2F2;
}
.content-wrap{ 
     background:url('../img/cont-wrap-line.png') repeat-x center 75px #fff; 
     padding:20px 22px 50px 22px;
     margin-bottom:30px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.38);
    .columns {
        >p {
            font-size: 1.125rem;
            font-family: 'FranklinGothicBookCondensed';
            margin-top: -14px;
            
        }
    }
     .page-title{
          font-family:'FranklinGothicBookCondensed';
          font-size:34px;
          color:#032C5E;
     }
     .row{
          margin-top:40px;
          margin-bottom:75px; 
         @include breakpoint(medium down) { 
             margin-bottom: -30px;
        }
          > p{
               font-weight:bold;
               font-size:14px;
               color:#333333;
          }
          .small {
                    font-size:13px;
          }
          h4{
               font-size: 1.23rem;
                color: #0099cc; 
                margin-bottom: 5px;
          }
          h6{
               font-family:'FranklinGothicBookCondensed';
               font-size:24px;
               color:#333333;
               line-height: 1;
               margin-bottom: 18px;
               
               @include breakpoint(medium down){
                   line-height: 28px;
               }
               small {
                  color: $darker-gray;
                  font-size: .75em;
               }
          }
          .img-overflow {
            max-width: calc(100% + 8px); 
            position: relative; 
            left: -8px;
          }
          .img-overflow-r {
            max-width: calc(100% + 8px); 
            position: relative; 
            right: -8px;
            left:0;
          }
          .descript{
               color:#333333;
               ol{
               margin:0;
               counter-reset: item;
               @include breakpoint(medium down) { 
                   margin:25px 0;
               }
                    .desc-title{
                         font-weight:bold;
                         font-size: 1.15rem;
                         line-height:1;
                    }
                    p{
                         font-size: .86rem;
                         padding:10px 0;
                         margin-bottom:0;
                         line-height: 17px; 
                         &.desc-empasized{
                             font-style:italic;
                             span{
                                 color:#cc00ff;
                                 &.text{
                                     color:#0090c5;
                                 }
                             }
                         }
                    }
                    li{
                            
                         background-repeat:no-repeat;
                         background-position: top left;
                         padding-left:44px;
                         margin-bottom:10px;
                         // &:first-child, &.n1{
                         //     background-image:url('../img/1.png');
                         // } 
                         // &:nth-child(2), &.n2{
                         //     background-image:url('../img/2.png');
                         // }
                         // &:nth-child(3), &.n3{
                         //     background-image:url('../img/3.png');
                         // }
                         // &:nth-child(4), &.n4{
                         //     background-image:url('../img/4.png');
                         // }   
                         // &:nth-child(5), &.n5{
                         //     background-image:url('../img/5.png');
                         // }   
                         // &:nth-child(6), &.n6{
                         //     background-image:url('../img/6.png');
                         // }   
                         // &:nth-child(7), &.n7{
                         //     background-image:url('../img/7.png');
                         // }   
                         // &:nth-child(8), &.n8{
                         //     background-image:url('../img/8.png');
                         // } 
                         li{
                          padding-left: 0;
                          &:before {  counter-reset: item; content: counters(item, ".") " "; counter-increment: item; padding-left: 4px;}
                         }

                    }
                    &.continue {
                      counter-reset: item 4;
                    }
                    &.continue-3 {
                      counter-reset: item 2;
                    }
                    &.continue-4 {
                      counter-reset: item 3;
                    }
               }
          }
     }
}

.back-to-top {
  float: right;
  width: 37px;
  height: 37px;
  background: $color-green url('../img/arrow-up.png') center center no-repeat;
  margin-bottom: 116px;
}

.animate-fade {
  @include mui-animation(fade);
}

 ol.rounded-list {
   list-style: none;
   margin-left: 10px;
   margin-top: 33px;
   padding: 0;
 }
 ol.rounded-list li { font-size: 16px; 
   counter-increment: item; list-style-type:none;
   margin-bottom: 15px;
   // padding-left: 0!important;

 }
 ol.rounded-list  li:before {
   margin-right: 10px;
   content: counter(item);
   background:#cb00fe;
   border-radius: 100%;
   color: white;
   width: 28px; height:28px; padding:1px;
   text-align: center;
   display: inline-block;
       position: absolute;
    left: 15px;
 }
.rounded-list .desc-title{ font-size:20px;}
// .rounded-list p{ margin-left:40px;}
