<div class="content-wrap">
     <h4 class="page-title">Login</h4>
     <div class="row">
          <div class="columns ">
               <h6>How to access My Account from The Home Page</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-login-1.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Login as an ABO</span>
                         <p>ABO must log in to their account by filling in their username and password and clicking on the ‘Submit‘ button. This will take the ABO into their account where they can access the My Account section.</p>
                    </li> 
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Goes into Account Settings</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-login-2.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Hover Over Header </span>
                         <p>ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li> 
               </ul>
          </div>
     </div>
</div>
