<div class="content-wrap">
     <h4 class="page-title">Order History</h4>
     <div class="row">
          <div class="columns ">
               <h6>How to Access Order History</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-history-1.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Hover Over Header</span>
                         <p>After logging in, ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Order History</span>
                         <p>ABO must click on ‘Order History’ to proceed to the Order History section.</p>
                    </li> 
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Open Orders</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-history-2.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Order History Sections</span>
                         <p>ABO can click on the headings to access different sections of their Order History.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Open Orders</span>
                         <p>ABO can see all the details for their orders which have a pending or failed status.</p>
                    </li> 
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>All Orders</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-history-3.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Order History Sections</span>
                         <p>ABO can click on the headings to access different sections of their Order History.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Quick Search Orders</span>
                         <p>ABO can search for specific order details using the Order ID number.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Select View</span>
                         <p>ABO can filter which orders they want to view.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Show Orders by Date</span>
                         <p>ABO can search for specific order details by selecting a Preset Month or a Date Range.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Search Filter</span>
                         <p>ABO can filter which orders they want to view based on Order Type and Order Channel.</p>
                    </li>
                    <li>
                         <span class="desc-title">Show Orders</span>
                         <p>Clicking on the ‘Show Orders’ button will allow the ABO to view the list of orders based on the filters set above. The generated order list will appear below.</p>
                    </li> 
                     
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Order List View</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-history-4.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Sort Orders</span>
                         <p>ABO can sort orders by clicking the arrows on the filter.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Go to Page</span>
                         <p>Entering a page number and clicking on the ‘Go’ button will allow the ABO to skip to a specific page in the orders list.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Navigate Order Pages</span>
                         <p>ABO can click on pages to view more orders.</p>
                    </li>  
                     
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Detailed Orders View</h6>
          </div>
          <div class="columns large-8 float-left">
               <img src="assets/img/account-history-5.jpg" alt="">     
          </div>  
     </div>
     <div class="row">
          <div class="columns">
               <h6>Open Preview</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-history-6.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Expand Order Details</span>
                         <p>Clicking on the expand icon/arrow on the rightmost corner of each order row will expand the order preview below.</p>
                    </li>   
               </ul>
          </div>
     </div>
</div>
