<div class="content-wrap">
     <h4 class="page-title">Shopping List</h4>
     <div class="row">
          <div class="columns ">
               <h6>How to Access Shopping List</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-shoplist-1.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Hover Over Header</span>
                         <p>After logging in, ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Shopping List</span>
                         <p>ABO must click on ‘Shopping List’ to proceed to the Shopping List section.</p>
                    </li> 
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Shopping List Page</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-shoplist-2.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Shopping List Options</span>
                         <p>ABO can see all shopping lists for the account and can select default/ favourite list, edit name or delete lists.</p>
                    </li>  
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Shopping List Page</h6>
               <p>View Individual Shopping List</p>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-shoplist-3.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Expand List Details</span>
                         <p>Clicking on the expand icon/arrow on the rightmost corner of each shopping list row will expand the details below.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Shopping List Options</span>
                         <p>ABO can click ‘Select All’ to perform collective operations on all products from the shopping list. ABO can click ‘Move to Cart’ to copy selected products from the shopping list to the shopping cart. ABO can click ‘Delete’ to delete products from the list.</p>
                    </li>  
                    <li>
                         <span class="desc-title">Total PV / BV</span>
                         <p>ABO can view the total PV/BV for all the products in the shopping list and the total distributor price of all the products in the shopping list.</p>
                    </li>  
                     
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h4>Step 1</h4>
               <h6>How to Add a New Shopping List</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-shoplist-4.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Add New List</span>
                         <p>Clicking on the ‘Add New List’ button will allow the ABO to create a new shopping list. </p>
                    </li>  
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h4>Step 2</h4>
               <h6>How to Add a New Shopping List</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-shoplist-5.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Add List Name</span>
                         <p>ABO is prompted  to enter the name of the new list.</p>
                         <p class="desc-empasized">
                              <span>***</span> The list name must be unique within the country.
                         </p>
                    </li>  
                    <li>
                         <span class="desc-title">Add New List</span>
                         <p>Clicking on the ‘Add’ button will allow the ABO to create a new shopping list with the chosen name.</p>
                    </li>
               </ul>
          </div>
     </div> 
</div>
