<div class="content-wrap">
     <h4 class="page-title">Registration</h4>
     <div class="row">
          <div class="col-md-12">
               <h6>How to access Registration from the Home Page</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-1.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Registration Process Overview</h6>
               <p>Applicant must successfully complete all 4 steps in order to register as an ABO</p>
          </div>
          <div class="col-md-12">
               <img src="assets/img/registrationprocessoverview.jpg" alt="">     
          </div>
     </div> 
     <div class="row">
          <div class="col-md-12">
               <h4>Step 1</h4> 
               <h6>Register as an ABO with Basic Info</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step1-1.jpg" alt="">
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Citizenship</span>
                         <p>Applicant must select their citizenship from the available options in the drop down list. </p>
                         <p class="desc-empasized">
                              <span>***</span> To apply for the ABOship, an Applicant has to be either a permanent citizen or a resident of Malaysia.
                         </p>
                    </li>
                    <li>
                         <span class="desc-title">Age declaration above 18</span>
                         <p>Applicant must declare if they are over 18 years old or not by clicking yes or no. </p>
                         <p class="desc-empasized">
                              <span>***</span> To apply for the ABOship, an Applicant has to be 18 years and above.
                         </p>
                    </li> 
                    <li>
                         <span class="desc-title">Marital Status</span>
                         <p>Applicant must declare if their marital status by clicking either 'Single' or 'Married'.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Sponsoring ABO details</span>
                         <p>In order to apply for an ABOship, the Applicant must be sponsored by a current ABO. Applicant must declare if they have a sponsor by clicking either ‘Yes’ or ‘No’. If ‘Yes’, the Applicant will fill in their sponsor’s ABO details in Step 2. If 'No', the Applicant will be assigned a sponsor ABO by Amway. </p>
                         <p class="desc-empasized">
                              <span>***</span> This assignment is a manual offline process.
                         </p>
                    </li>  
                    
               </ol>
          </div>
     </div> 
     <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-8"> 
               <img src="assets/img/registration-step1-2.jpg" alt="">    
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">   
               <ol class="rounded-list continue">
                    <li>
                         <span class="desc-title">International Sponsorship Information</span>
                         <p>Applicant must click the checkbox if they have an international sponsor. On selecting this checkbox,  there will be two options to select from:</p>
                         <p class="desc-empasized">
                              <span class="text">International Sponsor</span> - In case the Applicant has details about the international sponsoring ABO.
                         </p>
                         <p class="desc-empasized">
                              <span class="text">Multiple Business </span> - In case the Applicant holds an Amway Business in another country.
                         </p>
                    </li> 
                    <li>
                         <span class="desc-title">Link to PDFs</span>
                         <p>There are two PDF links containing Amway business related content. Applicants can click these links to view the Business Reference Guide or Terms and Conditions (T&amp;C).</p>
                    </li> 
                    <li>
                         <span class="desc-title">Confirm &amp; Proceed</span>
                         <p>Clicking on the 'Confirm and Proceed‘ button will take the Applicant to Step 2 of registration, provided all the fields have been completed correctly.</p>
                    </li>  
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h4>Step 2</h4>
               <h6>Fill In Registration Details - Form displayed is based on input from Step 1 and Step 2</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step2-1.jpg" alt=""> 
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list ">
                    <li>
                         <span class="desc-title">First Name</span>
                         <p>Applicant must fill in their first name.</p>
                    </li>
                    <li>
                         <span class="desc-title">Surname</span>
                         <p>Applicant must fill in their last name/ surname.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Identity Number</span>
                         <p>Applicant must fill in their unique identification number. First, select the type of identity card from the drop down list- New IC No(MyKad), Old Military No and Old IC No. Then fill in the identification number in the next box.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Date of Birth</span>
                         <p>Applicant must fill in their date of birth with the following format- date, month, year (DD/MM/YYYY). If the Applicant has added a new MyKad IC#, then the DOB will be entered by default however, it is still editable if they wish to change it.</p>
                         <p class="desc-empasized"><span>***</span> The age of Applicant must always be greater than 18 years from the date of birth entered.</p>
                    </li>  
                    
               </ol>
          </div>
     </div> 
     <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-8">   
               <img src="assets/img/registration-step2-2.jpg" alt="">   
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list continue">
                    <li class="n5">
                         <span class="desc-title">Race</span>
                         <p>Applicant must select their racial group from the available options in the drop down list- Malay, Chinese, Indian or Other.
</p>
                    </li> 
                    <li class="n6">
                         <span class="desc-title">Mobile Number</span>
                         <p>Applicant must fill in their mobile number. A One Time Password will be sent to this number via text message for verification.</p>
                         <p class="desc-empasized"><span>***</span> Applicant must fill in either a mobile number or email address to receive the One Time Password (see 7).</p>
                    </li>  
                    <li class="n7">
                         <span class="desc-title">Email Address</span>
                         <p>If the Applicant selects the check box, 'I do not have a mobile', then they must fill in their email address (eg. abcd@xyz.com). A One Time Password will be sent to this email for verification.</p>
                         <p class="desc-empasized"><span>***</span> Applicant must fill in either a mobile number or email address to receive the One Time Password (see 6)</p>
                    </li>  
                    <li class="n8">
                         <span class="desc-title">Spouse Details</span>
                         <p>This section will only appear if the Applicant selected 'Married‘ as their 'Marital Status' in Step 1. The Applicant must fill in the following details about their spouse- First Name, Surname and Identity Number. </p>
                         <p class="desc-empasized"><span>***</span> To apply for the ABOship, an Applicant cannot have a spouse who is already an ABO</p>
                    </li>  
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Address Registration</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step2-3.jpg" alt="">
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Address Line 1</span>
                         <p>Applicant must fill in the first line of their registered address.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Address Line 2</span>
                         <p>Applicant must fill in the second line of their registered address.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Address Line 3</span>
                         <p>Applicant must fill in the third line of their registered address.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Postcode</span>
                         <p>Applicant must fill in the postcode of their registered address.</p>
                    </li> 
                    <li>
                         <span class="desc-title">City</span>
                         <p>Applicant must fill in the city of their registered address.</p>
                    </li> 
                    <li>
                         <span class="desc-title">State</span>
                         <p>Applicant must select the state they live in from the drop down list.</p>
                    </li> 

               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Sponsor ABO Details</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step2-4.jpg" alt="">       
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">ABO Sponsor Number</span>
                         <p>If the Applicant selected 'I have a sponsoring ABO‘ in Step 1, this section will appear. Applicant must fill in the ABO Sponsor’s ID number.</p>
                    </li> 
                    <li>
                         <span class="desc-title">ABO Sponsor Name</span>
                         <p>If the Applicant selected I have a sponsoring ABO ‘ in Step 1, this section will appear. Applicant must fill in the first three letters of their ABO Sponsor’s name and the full name will be generated from the database list.</p>
                    </li> 
                    <li>
                         <span class="desc-title">International ABO Number</span>
                         <p>If the Applicant selected the checkbox for International Business in Step 1, this section appears. Applicant must fill in their International ABO Sponsor’s ID number.</p>
                    </li> 
                    <li>
                         <span class="desc-title">International ABO Name</span>
                         <p>If the Applicant selected the checkbox for International Business in Step 1, this section appears. Applicant must fill in their International ABO Sponsor’s name.</p>
                    </li> 
                    
                    
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-8"> 
               <img src="assets/img/registration-step2-5.jpg" alt="">   
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list continue"> 
                     <li class="n5">
                         <span class="desc-title">International ABO Country</span>
                         <p>If the Applicant selected the checkbox for International Business in Step 1, this section appears. Applicant must select the country of their International ABO Sponsor from the drop down list.</p>
                    </li> 
                    <li class="n6">
                         <span class="desc-title">Checkbox</span>
                         <p>Applicant needs to check the box 'I agree' to accept the International Business rule.</p>
                    </li>
                    <li class="n7">
                         <span class="desc-title">Back</span>
                         <p>Applicant can click ‘Back’ to return to the previous step of the registration process to change their details</p>
                    </li> 
                    <li class="n8">
                         <span class="desc-title">Submit My Details</span>
                         <p>Clicking on the ‘Submit' button will take the Applicant to the One Time Password validation step of registration, provided all the fields have been completed correctly.</p>
                    </li> 
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>One Time Password Validation</h6>
               <p>Pop up after Step 2, verification sent to mobile number or email address.</p>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step2-6.jpg" alt="">        
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">One Time Password Pop Up</span>
                         <p>If all the fields have been filled in correctly then the One Time Password pop up will appear. A One Time Password is sent to either the mobile number or email address provided in Step 2.</p>
                    </li> 
                    <li>
                         <span class="desc-title">One Time Password Validation</span>
                         <p>The Applicant must enter this One Time Password in the box and click on the 'Validate Now’ button to proceed. If the One Time Password is correct, the pop up closes and Step 3 of registration appears.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Resend One Time Password Validation</span>
                         <p>Applicant can reattempt to send the One Time Password to their mobile/email by clicking the 'Resend OTP' button.</p>
                    </li>  
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h4>Step 3</h4>
               <h6>Confirm and Pay</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step3-1.jpg" alt="">
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Information Summary</span>
                         <p>This page displays the information provided by the Applicant in Step 1 and Step 2 for review before final submission.</p>
                    </li>
                    <li>
                         <span class="desc-title">Edit Basic Info</span>
                         <p>In case the Applicant needs to change their information in that section, they can click ‘edit’ and will be redirected to that section of the registration steps to change their information.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Edit Registration Details</span>
                         <p>In case the Applicant needs to change their information in that section , they can click ‘edit’ and will be redirected to that section of the registration steps to change their information.</p>
                    </li> 
                    
               </ol>
          </div>
     </div> 
     <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step3-2.jpg" alt="">   
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list continue-4">
                    <li class="n5">
                         <span class="desc-title">ABO Fees</span>
                         <p>The applicant is displayed the ABO membership fees and is expected to make a payment.</p> 
                    </li>  
                    <li class="n6">
                         <span class="desc-title">Checkbox</span>
                         <p>Applicant needs to check the box 'I have read and agreed to the Terms & Conditions' to proceed to the payment page.</p>
                    </li> 
                    <li class="n7">
                         <span class="desc-title">Back</span>
                         <p>Applicant can click ‘Back’ to return to the previous step of the registration process to change their details.</p> 
                    </li>  
                    <li class="n8">
                         <span class="desc-title">Pay Now</span>
                         <p>Clicking on the ‘Pay Now' button will redirect the Applicant to the payment page, provided all the fields have been completed correctly. This payment page is hosted on the payment gateway site.</p>
                    </li>   
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12"> 
               <h6>Payment</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step3-3.jpg" alt="">
               <h6>&nbsp;</h6>  
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Choose Card</span>
                         <p>Applicant must select a saved card from the dropdown list or click ‘Add a New Card’.</p>
                    </li>
                    <li>
                         <span class="desc-title">Card Number</span>
                         <p>Applicant must fill in their Card Number.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Expiry Date </span>
                         <p>Applicant must fill in the Expiry Date of their card with the following format- month and year (MM/YY).</p>
                    </li> 
                    <li>
                         <span class="desc-title">CVV</span>
                         <p>Applicant must fill in the 3 digit code on the back on their card.</p> 
                    </li>  
                    <li>
                         <span class="desc-title">Cardholder Name</span>
                         <p>Applicant must fill in their name as it appears on their card.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Checkbox</span>
                         <p>ABO must check the box ‘Save this card for future use’ if they do not want to input their details next time they make a payment.</p> 
                    </li>  
                    <li>
                         <span class="desc-title">Make Payment</span>
                         <p>Clicking on the ‘Make Payment' button will redirect the Applicant to the next step of registration, provided all the fields have been completed correctly and the payment is successful. ABO must click ‘Cancel’ if they do not want to continue with the payment.</p>
                    </li>   
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h4>Step 4</h4> 
               <h6>Completion- Choose Password</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step4-1.jpg" alt="">
               <h6>&nbsp;</h6>  
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Password</span>
                         <p>The ABO Applicant is required to choose a password for online login. </p>
                         <p class="desc-empasized"><span>***</span> Password must be minimum 6 characters and include at least 1 letter and 1 number.</p>
                    </li>
                    <li>
                         <span class="desc-title">Re-enter Password</span>
                         <p>The ABO Applicant is required to re-enter the password for confirmation. </p>
                         <p class="desc-empasized"><span>***</span> Password must be minimum 6 characters and include at least 1 letter and 1 number.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Submit</span>
                         <p>Clicking on the ‘Submit' button will take the Applicant to the final step of registration, provided the passwords match.</p>
                    </li>  
               </ol>
          </div>
     </div>  
     <div class="row">
          <div class="col-md-12"> 
               <h6>Completion Page</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/registration-step4-2.jpg" alt="">
               <h6>&nbsp;</h6>  
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">My Account</span>
                         <p>By clicking on 'My Account' the ABO is redirected to the respective page in a logged in state to update their details in the My Account section.</p>
                         <p class="desc-empasized"><span>***</span> Password must be minimum 6 characters and include at least 1 letter and 1 number.</p>
                    </li>
                    <li>
                         <span class="desc-title">Shop</span>
                         <p>By clicking on 'Shop' the ABO is redirected to the respective page to buy and get Amway products delivered.</p>
                         <p class="desc-empasized"><span>***</span> Password must be minimum 6 characters and include at least 1 letter and 1 number.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Business Center</span>
                         <p>By clicking on 'Business Center' the ABO is redirected to the respective page to manage their business.</p>
                    </li>  
                    <li>
                         <span class="desc-title">Knowledge</span>
                         <p>By clicking on 'Knowledge' the ABO is redirected to the respective page to get training and resource materials.</p>
                    </li>  
                    <li>
                         <span class="desc-title">Summary</span>
                         <p>Applicant will see a confirmation of their new password, summary of the details they provided and payment made.</p>
                    </li>  
               </ol>
          </div>
     </div>  
</div>
