<div class="content-wrap">
     <h4 class="page-title">Profile</h4>
     <div class="row">
          <div class="col-md-12">
               <h6>How to access Profile</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-profile-1.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Hover Over Header</span>
                         <p>After logging in, ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Profile</span>
                         <p>ABO must click on ‘Profile’ to proceed to the Profile section.</p>
                    </li> 
               </ol>
          </div>
     </div> 
     <div class="row">
          <div class="col-md-12">
               <h6>Primary ABO Details</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-profile-2.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Profile Sections</span>
                         <p>ABO can click on the headings to access different sections of their Profile.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Primary ABO Details</span>
                         <p>This section contains the profile information for the Primary ABO (main applicant). </p>
                         <p class="desc-empasized"><span>***</span> Details are view only and cannot be changed or updated, except photo.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Personal Details</span>
                         <p>This section displays the personal information provided by the ABO during the registration process. </p>
                         <p class="desc-empasized"><span>***</span> Only some fields are editable.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Contact Details</span>
                         <p>This section displays the contact information provided by the ABO during the registration process. </p>
                         <p class="desc-empasized"><span>***</span> These fields are editable.</p>
                    </li> 
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Co-Applicant / Spouse Details</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-profile-3.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Profile Sections</span>
                         <p>ABO can click on the headings to access different sections of their Profile.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Personal Details</span>
                         <p>This section displays personal information about the spouse, if available.</p>
                         <p class="desc-empasized"><span>***</span> Only some fields are editable.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Contact Details</span>
                         <p>This section displays contact information for the spouse.</p>
                         <p class="desc-empasized"><span>***</span> Only some fields are editable.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Confidentiality Checkbox</span>
                         <p>ABO needs to check the box ‘'I want my spouse information to remain confidential’ if they do not want to share their spouse information with Amway. </p>
                    </li> 
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>My Recognition</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-profile-4.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Profile Sections</span>
                         <p>ABO can click on the headings to access different sections of their Profile.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Recognition</span>
                         <p>This section will contain information about the ABO which shall be used by Amway for Recognition purposes.</p>
                    </li> 
                    <li>
                         <span class="desc-title">T&amp;Cs Checkbox</span>
                         <p>ABO needs to check the box ‘'I have read and agreed to the Terms &amp; Conditions’ to save their name.</p> 
                    </li> 
                    <li>
                         <span class="desc-title">Recognition Name</span>
                         <p>ABO can provide their 'Recognition Name' here.</p>
                         <p class="desc-empasized"><span>***</span> Name must be unique and not used by any other ABO.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Save Recognition</span>
                         <p>Clicking on the ‘Save’ button will allow the ABO to save changes made to their Recognition Name.</p> 
                    </li> 
               </ol>
          </div>
     </div>
</div>
