<div class="content-wrap">
     <h4 class="page-title">Login</h4>
     <div class="row">
          <div class="columns">
               <h6>How to Login</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/howtologin.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Login as an ABO</span>
                         <p>ABO must log in to their account by filling in their username and password and clicking on the ‘Submit‘ button. This will take the ABO into their account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Remember Me Checkbox </span>
                         <p>ABO must check the box ‘Remember Me’ if they want the system to remember their username and password details for future login attempts.</p>
                    </li>
                    <li>
                         <span class="desc-title">Forgot Login Details</span>
                         <p>Clicking on this link will redirect user to ‘Forgot Password’ where they can request for their details to be sent to them.</p>
                    </li>
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>How to Logout</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/howtologout.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Hover Over Header </span>
                         <p>After logging in, ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Logout</span>
                         <p>ABO must click on ‘Logout’ in order to logout of their session.</p>
                    </li> 
               </ul>
          </div>
     </div>
</div>
