<div class="content-wrap">
     <h4 class="page-title">Resignation</h4>
     <div class="row">
          <div class="col-md-12">
               <h6>How to access Resignation section from the Home Page</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/resignation-1.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Resign as an ABO</span>
                         <p>ABO must log in to their account by filling in their username and password and clicking on the ‘Submit‘ button. This will take the ABO into their account.</p>
                    </li> 
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Goes into Account Settings</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               
               <img src="assets/img/resignation-2.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Hover Over Header </span>
                         <p>After logging in, ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Logout</span>
                         <p>ABO must click on ‘Logout’ in order to logout of their session.</p>
                    </li> 
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Registration Process Overview</h6>
               <p class="">Applicant must successfully complete all 5 steps in order to resign as an ABO</p>
          </div>
          <div class="col-md-12">
               
               
               <img src="assets/img/registrationprocessoverview2.jpg" alt="">     
          </div>
           
     </div>
     <div class="row">
          <div class="col-md-12">
               <h4>Step 1</h4>
               <h6>ABO goes to ‘Resignation’ section</h6>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/resignation-step-1.jpg" alt="">  
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Resignation Section</span>
                         <p>ABO must scroll down to the ‘Resignation’ section of their Account Settings.</p>
                    </li> 
               </ol>
          </div>
     </div> 
     <div class="row">
          <div class="col-md-12"><h4>Step 2</h4><h6>ABO agrees to T&amp;Cs and submits request</h6></div>
          <div class="col-xs-12 col-sm-7 col-md-8"> 
               <img src="assets/img/resignation-step-2.jpg" alt="">  
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Resignation Checkbox</span>
                         <p>ABO needs to check the box ‘I agree to above policies and confirm to terminate my ABOship‘ in order to proceed with their resignation.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Submit Resignation</span>
                         <p>Clicking on the ‘Submit My Resignation’ button will allow the ABO to request for resignation.</p>
                    </li> 
               </ol>
          </div>
     </div> 
     <div class="row">
          <div class="col-md-12">
               <h4>Step 3</h4>
               <h6>Payment page</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/resignation-step-3.jpg" alt="">  
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">One Time Password Pop Up</span>
                         <p>A One Time Password pop up will appear to confirm the Resignation submission. A One Time Password is sent to either the mobile number or email address provided in ABO’s account.</p>
                    </li> 
                    <li>
                         <span class="desc-title">One Time Password Validation</span>
                         <p>The ABO must enter this One Time Password in the box and click on the ‘Confirm’ button to proceed. If the One Time Password is correct, the pop up closes and a resignation request is made. </p>
                    </li> 
                    <li>
                         <span class="desc-title">Resend One Time Password Validation</span>
                         <p>ABO can reattempt to send the One Time Password to their mobile/email by clicking the 'Resend OTP' button.</p>
                    </li> 
               </ol>
          </div>
     </div> 
</div>
