<div class="content-wrap">
     <h4 class="page-title">Voucher</h4>
     <div class="row">
          <div class="col-md-12">
               <h6>How to Access Vouchers</h6>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-vouchers-1.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Hover Over Header</span>
                         <p>After logging in, ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Vouchers</span>
                         <p>ABO must click on ‘Vouchers’ to proceed to the Vouchers section.</p>
                    </li> 
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Voucher Page: </h6>
               <p>Credit Vouchers</p>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-vouchers-2.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Voucher Sections</span>
                         <p>ABO can click on the headings to access different sections of their Vouchers.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Coupons</span>
                         <p>This section displays the cash vouchers/credit notes issued to the ABO for any returned or cancelled orders.</p>
                         <p class="desc-empasized"><span>***</span> The list name must be unique within the country.</p>
                    </li>
                    <li>
                         <span class="desc-title">Sort Coupons</span>
                         <p>ABO can sort coupons by clicking the arrows on the filter.</p>
                    </li>
               </ol>
          </div>
     </div>
     <div class="row">
          <div class="col-md-12">
               <h6>Voucher Page: </h6>
               <p>Coupons</p>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-vouchers-3.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Voucher Sections</span>
                         <p>ABO can click on the headings to access different sections of their Vouchers.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Coupons</span>
                         <p>This section displays the trade-in coupons issued to the ABO in exchange of any product (like e-Spring). ABO can use this coupon to buy the trade-in product for which the coupon was issued.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Sort Coupons</span>
                         <p>ABO can sort coupons by clicking the arrows on the filter.</p>
                    </li>  
               </ol>
          </div>
     </div> 
     <div class="row">
          <div class="col-md-12">
               <h6>Voucher Page: </h6>
               <p>Brand Experience Coupons</p>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
               <img src="assets/img/account-vouchers-4.jpg" alt="">     
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 descript">
               <ol class="rounded-list">
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Navigate Voucher Sections</span>
                         <p>ABO can click on the headings to access different sections of their Vouchers.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Brand Experience Coupons</span>
                         <p>This section displays the coupons issued to the ABO for attending any Brand Experience trainings and sessions.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Sort Brand Experience Coupons</span>
                         <p>ABO can sort coupons by clicking the arrows on the filter.</p>
                    </li>  
               </ol>
          </div>
     </div> 
</div>
