<div class="content-wrap">
     <h4 class="page-title">Registration</h4>
     <div class="row">
          <div class="columns">
               <h6>How to access Registration from the Home Page</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/howtologin.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Registration Process Overview</h6>
               <p>Applicant must successfully complete all 4 steps in order to register as an ABO</p>
          </div>
          <div class="columns large-12">
               <img src="assets/img/registrationprocessoverview.jpg" alt="">     
          </div>
           
     </div> 
     <div class="row">
          <div class="columns large-12">
               <h4>Step 1</h4> 
               <h6>Register as an ABO with Basic Info</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/howtologin.jpg" alt="">
               <h6>&nbsp;</h6>
               <img src="assets/img/howtologin.jpg" alt="">    
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>  
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>  
               </ul>
          </div>
     </div> 
     <div class="row">
          <div class="columns large-12">
               <h4>Step 2</h4>
               <h6>How to access Registration from the Home Page</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/howtologin.jpg" alt="">
               <h6>&nbsp;</h6>
               <img src="assets/img/howtologin.jpg" alt="">    
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>  
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>  
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>  
               </ul>
          </div>
     </div> 
     <div class="row">
          <div class="columns">
               <h6>Address Registration</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/howtologin.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 

               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Sponsor ABO Details</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/howtologin.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li> 
                    <li>
                         <span class="desc-title">Register as an ABO</span>
                         <p>First time Applicants can sign up for an ABO account by clicking on the ‘Register Here‘ button. This will take the Applicant to Step 1 of the registration process, to fill in their details.</p>
                    </li>  
                    
               </ul>
          </div>
     </div>
</div>
