<div class="content-wrap">
     <h4 class="page-title">Address Book</h4>
     <div class="row">
          <div class="columns ">
               <h6>How to Access Vouchers</h6>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-addressbook-1.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Hover Over Header</span>
                         <p>After logging in, ABO must hover over their name in the header until the drop down list appears with the different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Address Book</span>
                         <p>ABO must click on ‘Address Book’ to proceed to the Address Book section.</p>
                    </li> 
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h6>Address Book Page: </h6>
               <p>Landing</p>
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-addressbook-2.jpg" alt="" class="img-overflow-r">      
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">My Registered Address</span>
                         <p>This section displays the personal address provided by the ABO during the registration process</p>
                    </li> 
                    <li>
                         <span class="desc-title">My Shipping Address</span>
                         <p>This section displays the ABO’s shipping addresses. ABO can add new shipping address, modify address, delete address, search address from the address book.</p> 
                    </li>
                    <li>
                         <span class="desc-title">Navigate Address Book</span>
                         <p>ABO can click on pages to view more addresses.</p>
                    </li>
                    <li>
                         <span class="desc-title">Go to Page</span>
                         <p>Entering a page number and clicking on the ‘Go’ button will allow the ABO to skip to a specific page in the address book.</p>
                    </li>
               </ul>
          </div>
     </div>
     <div class="row">
          <div class="columns">
               <h4>Step 1</h4>
               <h6>How to Add a New Address</h6> 
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-addressbook-3.jpg" alt="" class="img-overflow-r">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Add New Address</span>
                         <p>Clicking on the ‘Add New Address’ button will allow the ABO to create a new shipping address.</p>
                    </li>  
               </ul>
          </div>
     </div> 
     <div class="row">
          <div class="columns">
               <h4>Step 2</h4>
               <h6>How to Add a New Address</h6> 
          </div>
          <div class="columns large-8">
               <img src="assets/img/account-addressbook-4.jpg" alt="">     
          </div>
          <div class="columns large-4 descript">
               <ul>
                    <li>
                         <span class="desc-title">Navigate My Account Sections</span>
                         <p>ABO can click on the headings to access different sections of My Account.</p>
                    </li>
                    <li>
                         <span class="desc-title">Fill New Address</span>
                         <p>ABO is prompted  to enter new address in the fields provided.</p>
                    </li>  
                    <li>
                         <span class="desc-title">Add New Address</span>
                         <p>Clicking on the ‘Save’ button will allow the ABO to create a new shipping address.</p>
                    </li>  
               </ul>
          </div>
     </div> 
</div>