<footer class="footer">
	<section class="footer-brands clearfix">
		<div class="row">
			<div class="column medium-1">
				<img src="assets/img/logos/logo-nutrilite.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-bodykey.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-artistry.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-bodyseries.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-satinique.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-g-and-h.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-glister.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-espring.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-amway-home.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-atmosphere.jpg" />
			</div>
			<div class="column medium-1 end">
				<img src="assets/img/logos/logo-amway-queen.jpg" />
			</div>
		</div>
	</section> <!-- end of footer logo -->
	<section class="footer-info">
		<div class="row">
			<div class="column medium-9">
				<nav class="footer-nav">
					<ul>
						<li><a href="#">AMWAY Global</a></li>
						<li><a href="#">investor relations</a></li>
						<li><a href="#">compliance</a></li>
						<li><a href="#">faq</a></li>
						<li><a href="#">user guide</a></li>
					</ul>
				</nav>
			</div>
			<div class="column medium-3">
				<div class="footer-logo">
					<img src="assets/img/logo-footer.png" />
				</div>
			</div>
		</div>
	</section>
</footer> 