<footer class="footer">
	<section class="footer-brands clearfix">
		<div class="row">
			<div class="column medium-1">
				<img src="assets/img/logos/logo-nutrilite.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-bodykey.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-artistry.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-bodyseries.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-satinique.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-g-and-h.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-glister.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-espring.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-amway-home.jpg" />
			</div>
			<div class="column medium-1">
				<img src="assets/img/logos/logo-atmosphere.jpg" />
			</div>
			<div class="column medium-1 end">
				<img src="assets/img/logos/logo-amway-queen.jpg" />
			</div>
		</div>
	</section> <!-- end of footer logo -->
	<section class="footer-info">
		<div class="row">
			<div class="column medium-9">
				<nav class="footer-nav">
					<ul>
						<li><a href="#">AMWAY Global</a></li>
						<li><a href="#">investor relations</a></li>
						<li><a href="#">compliance</a></li>
						<li><a href="#">faq</a></li>
						<li><a href="#">user guide</a></li>
					</ul>
				</nav>

				<div class="footer-footnote">
					<ul>
						<li><a href="#">Copyright 2016 Amway</a></li>
						<li><a href="#">Privacy &amp; Security</a></li>
						<li><a href="#">Code of Conduct</a></li>
						<li><a href="#">DSA Code of Ethics</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Site Map</a></li>
					</ul>
					<p>
						Amway (Malaysia) Sdn. Bhd. 28, Jalan 223, 46100 Petaling Jaya, Selangor Darul Ehsan, Malaysia  l  03-7946 2800
					</p>
					
					<div class="footnote-logo">
						<img src="assets/img/logos/logo-dsa.jpg" />
						<img src="assets/img/logos/logo-circle.jpg" />
					</div>	
				</div> 

			</div>
			<div class="column medium-2">
				<div class="footer-logo">
					<img src="assets/img/logo-footer.png" />
				</div>
			</div>
		</div>
	</section>
</footer> 