<section class="header">
    <div class="row">
        <div class="columns large-6 small-12">
            <div class="region">
                 <ul class="country lang dropdown menu" data-dropdown-menu>
                    <li class="active"><a href="">EN</a></li>
                    <li><a href="">BM</a></li>
                    <li><a href="">中文</a></li>
                    <li>
                        <a href="#"><img src="assets/img/my.jpg" alt=""> Malaysia</a>
                        <ul class="menu">
                            <li><a href="#"><img src="assets/img/my.jpg" alt=""> Malaysia</a></li>
                            <li><a href="#"><img src="assets/img/my.jpg" alt=""> Malaysia</a></li>
                             
                        </ul>
                    </li>
                    <li><a href="">Customer Service</a></li>                    
                </ol>
            </div>
            <div class="logoSearch">
                <a href="" class="logo"> <img src="assets/img/logo.png" alt="logo"> </a>
                <form id="search">
                   <input type="text" placeholder="Search here">
                </form>
            </div>
        </div>
        <div class="columns large-6 small-12">
            <ul class="after-login">
                <li class="settings"><a href="">Shopping Settings</a></li>
                <li class="shopping-list"><a href="">Shopping List</a><span class="notif">99</span></li>
                <li class="my-cart"><a href="">My Cart</a><span class="notif">99</span></li>
                <li class="message"><a href="">Message Center</a><span class="notif">100</span></li>
                <li class="welcome"><a href="">Welcome <span>User Name</span></a></li>
                <li class="finder"><a href="">Shop Finder</a></li>
            </ul>
        </div>
    </div>

</section>