<section class="nav">
    <div class="row">
        <div class="col-md-12">
            <ul class="menu" id="menu" data-dropdown-menu >
                <li><a href="" >HOME</a></li>
                <li class="mega-menu">
                    <a href="">SHOPPING</a>
                    <!--<ul class="menu">
                        <li class="row">
                            <div class="col-xs-12 col-sm-7 col-md-8">
                                <div class="row category">
                                    <div class="col-md-3 ">
                                        <h5>Nutrition</h5>
                                        <ul>
                                            <li><a href="">Essentials</a></li>
                                            <li><a href="">Children's Health</a></li>
                                            <li><a href="">Healthy Aging</a></li>
                                            <li><a href="">General Health</a></li>
                                            <li><a href="">Immunity</a></li>
                                            <li><a href="">Weight Management</a></li>
                                            <li><a href="">Accessories</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 ">
                                        <h5>Beauty</h5>
                                        <ul>
                                            <li><a href="">Skin Care</a></li>
                                            <li><a href="">Makeup</a></li>
                                            <li><a href="">Accessories</a></li>
                                            <li><a href="">Fragrance</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 ">
                                        <h5>Bath &amp; Body</h5>
                                        <ul>
                                            <li><a href="">Body Care</a></li>
                                            <li><a href="">Hair Care</a></li>
                                            <li><a href="">Oral Care</a></li>
                                            <li><a href="">Child Care</a></li>
                                        </ol>
                                    </div>
                                    <div class="col-md-3 ">
                                        <h5>Home Living</h5>
                                        <ul>
                                            <li><a href="">Air Treatment</a></li>
                                            <li><a href="">Water Treatment</a></li>
                                            <li><a href="">Cookware</a></li>
                                            <li><a href="">Laundry Care</a></li>
                                            <li><a href="">Dish Care</a></li>
                                            <li><a href="">Surface Care</a></li>
                                            <li><a href="">Car Care</a></li>
                                            <li><a href="">Home Alarm</a></li>
                                            <li><a href="">Others</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <h5 class="text-left">Personal Shopper's Catalogue</h5> 
                                            <div class="row">
                                                <div class="columns large-4">
                                                    <ul>
                                                        <li><a href="">Air Treatment</a></li>
                                                        <li><a href="">Water Treatment</a></li>
                                                        <li><a href="">Cookware</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="columns large-4">
                                                    <ul>
                                                        <li><a href="">Air Treatment</a></li>
                                                        <li><a href="">Water Treatment</a></li>
                                                        <li><a href="">Cookware</a></li> 
                                                    </ul>
                                                </div>
                                                <div class="columns large-4">
                                                    <ul>
                                                        <li><a href="">Air Treatment</a></li>
                                                        <li><a href="">Water Treatment</a></li>
                                                        <li><a href="">Cookware</a></li> 
                                                    </ul>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns large-4 right-items">
                                <ul class="row">
                                    <li class="col-md-3  small-3"><a href=""><img src="assets/img/biz-support.jpg" alt=""> <span>Business Support Materials</span></a></li>
                                    <li class="col-md-3  small-3"><a href=""><img src="assets/img/mycart.jpg" alt=""> <span>Shopping Information</span></a></li>
                                    <li class="col-md-3  small-3"><a href=""><img src="assets/img/shop-information.jpg" alt=""><span>My Shopping Cart</span></a></li>
                                    <li class="col-md-3  small-3"><a href=""><img src="assets/img/prod-info.jpg" alt=""><span>Product Information<span></a></li>
                                </ul>
                                <div class="our-brands"> 
                                    <h6 class="text-left col-md-12">Our Brands</h6>
                                    <div class="row small-up-3 medium-up-4 large-up-5">
                                        <div class="column"><img src="assets/img/artistry.jpg" alt=""></div>
                                        <div class="column"><img src="assets/img/nutrilite.jpg" alt=""></div>
                                        <div class="column"><img src="assets/img/amwayhome.jpg" alt=""></div>
                                        <div class="column"><img src="assets/img/espring.jpg" alt=""></div>
                                        <div class="column"><img src="assets/img/bodyseries.jpg" alt=""></div>
                                        <div class="column"><img src="assets/img/sanitique.jpg" alt=""></div>
                                        <div class="column"><img src="assets/img/glister.jpg" alt=""></div>
                                    </div>
                                </div>
                                <div class="ads">
                                    <img src="assets/img/ads.jpg" alt="">
                                </div>
                            </div>
                        </li>
                    </ol>-->
                </li>
                <li><a href="">BUSINESS</a></li>
                <li><a href="" class="active">KNOWLEDGE</a></li>
            </ol>
        </div>
    </div>
</section>
