<aside class="sidebar">
	<div class="wrapper">
		<ul id="sidebar-accordion" class="accordion" data-accordion>
		  <li class="accordion-item {{#ifpage 'index' 'registration' 'resignation'}} is-active {{/ifpage}}" data-accordion-item>
		    <a href="#" class="accordion-title">ABO Management</a>
		    <div class="accordion-content" data-tab-content>
		     	<ul>
		     		<li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="index.html#article-content">Login</a></li>
		     		<li {{#ifpage 'registration'}} class="active" {{/ifpage}}><a href="registration.html#article-content">Registration</a></li>
		     		<li {{#ifpage 'resignation'}} class="active" {{/ifpage}}><a href="resignation.html#article-content">Resignation</a></li>
		     	</ul>
		    </div>
		  </li>
		  <li class="accordion-item  {{#ifpage 'my-account-login' 'my-account-profile' 'my-account-order-history' 'my-account-shopping-list' 'my-account-voucher' 'my-account-address-book' 'my-account-contracts' 'my-account-payment-details' 'my-account-preferences' 'my-account-account-settings'}} is-active {{/ifpage}}" data-accordion-item>
		    <a href="#" class="accordion-title">My Account</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li {{#ifpage 'my-account-login'}} class="active" {{/ifpage}}>
		      		<a href="my-account-login.html#article-content">Login</a>
		      	</li>
		      	<li {{#ifpage 'my-account-profile'}} class="active" {{/ifpage}}>
		      		<a href="my-account-profile.html#article-content">Profile</a>
		      	</li>
		      	<li {{#ifpage 'my-account-order-history'}} class="active" {{/ifpage}}>
		      		<a href="my-account-order-history.html#article-content">Order History</a>
		      	</li>
		      	<li {{#ifpage 'my-account-shopping-list'}} class="active" {{/ifpage}}>
		      		<a href="my-account-shopping-list.html#article-content">Shopping List</a>
		      	</li>
		      	<li  {{#ifpage 'my-account-voucher'}} class="active" {{/ifpage}}>
		      		<a href="my-account-voucher.html#article-content">Voucher</a>
		      	</li>
		      	<li {{#ifpage 'my-account-address-book'}} class="active" {{/ifpage}}>
		      		<a href="my-account-address-book.html#article-content">Address Book</a>
		      	</li>
		      	<li {{#ifpage 'my-account-contracts'}} class="active" {{/ifpage}}>
		      		<a href="my-account-contracts.html#article-content">Contracts</a>
		      	</li>
		      	<li {{#ifpage 'my-account-payment-details'}} class="active" {{/ifpage}}>
		      		<a href="my-account-payment-details.html#article-content">Payment Details</a>
		      	</li>
		      	<li {{#ifpage 'my-account-preferences'}} class="active" {{/ifpage}}>
		      		<a href="my-account-preferences.html#article-content">Preferences</a>
		      	</li>
		      	<li {{#ifpage 'my-account-account-settings'}} class="active" {{/ifpage}}>
		      		<a href="my-account-account-settings.html#article-content">Account Settings</a>
		      	</li>
		      </ul>
		    </div>
		  </li>
		  <li class="accordion-item {{#ifpage 'shop-finder'}} is-active {{/ifpage}}" data-accordion-item>
		    <a href="shop-finder.html#article-content" class="accordion-title no-sub-item">Shop Finder</a>
		    <div data-tab-content></div>
		  </li>
		  <li class="accordion-item {{#ifpage 'e-commerce'}} is-active {{/ifpage}}" data-accordion-item>
		    <a href="e-commerce.html#article-content" class="accordion-title no-sub-item">e-Commerce</a>
		    <div data-tab-content></div>
		  </li>
		  <li class="accordion-item" data-accordion-item>
		    <a href="#" class="accordion-title">Business Center</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li><a href="#">Item 1</a></li>
		      	<li><a href="#">Item 2</a></li>
		      	<li><a href="#">Item 2</a></li>
		      </ul>
		    </div>
		  </li>
		  <li class="accordion-item" data-accordion-item>
		    <a href="#" class="accordion-title">Knowledge Center</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li><a href="#">Item 1</a></li>
		      	<li><a href="#">Item 2</a></li>
		      	<li><a href="#">Item 2</a></li>
		      </ul>
		    </div>
		  </li>
		</ul>
	</div>
</aside>