<aside class="sidebar">
	<div class="wrapper">
		<ul class="accordion" data-accordion>
		  <li class="accordion-item is-active" data-accordion-item>
		    <a href="#" class="accordion-title">ABO Management</a>
		    <div class="accordion-content" data-tab-content>
		     	<ul>
		     		<li><a href="#">Login</a></li>
		     		<li><a href="#">Registration</a></li>
		     		<li><a href="#">Resignation</a></li>
		     	</ul>
		    </div>
		  </li>
		  <li class="accordion-item" data-accordion-item>
		    <a href="#" class="accordion-title">My Account</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li><a href="#">Item 1</a></li>
		      	<li><a href="#">Item 2</a></li>
		      	<li><a href="#">Item 2</a></li>
		      </ul>
		    </div>
		  </li>
		  <li class="accordion-item" data-accordion-item>
		    <a href="#" class="accordion-title">Shop Finder</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li><a href="#">Item 1</a></li>
		      	<li><a href="#">Item 2</a></li>
		      	<li><a href="#">Item 2</a></li>
		      </ul>
		    </div>
		  </li>
		  <li class="accordion-item" data-accordion-item>
		    <a href="#" class="accordion-title">e-Commerce</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li><a href="#">Item 1</a></li>
		      	<li><a href="#">Item 2</a></li>
		      	<li><a href="#">Item 2</a></li>
		      </ul>
		    </div>
		  </li>
		  <li class="accordion-item" data-accordion-item>
		    <a href="#" class="accordion-title">Business Center</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li><a href="#">Item 1</a></li>
		      	<li><a href="#">Item 2</a></li>
		      	<li><a href="#">Item 2</a></li>
		      </ul>
		    </div>
		  </li>
		  <li class="accordion-item" data-accordion-item>
		    <a href="#" class="accordion-title">Knowledge Center</a>
		    <div class="accordion-content" data-tab-content>
		      <ul>
		      	<li><a href="#">Item 1</a></li>
		      	<li><a href="#">Item 2</a></li>
		      	<li><a href="#">Item 2</a></li>
		      </ul>
		    </div>
		  </li>
		</ul>
	</div>
</aside>